<% content_for :title, "Showing recipe" %>

<div class="prose w-full max-w-none">
  <% if notice.present? %>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><%= notice %></span>
    </div>
  <% end %>

  <h1>Showing recipe</h1>

  <div class="shadow-xl">
    <div>
      <%= render @recipe %>
    </div>
  </div>

  <div class="flex space-x-2 mt-4">
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), data: { testid: "edit-recipe-link" } %>
    <%= link_to "Back to recipes", recipes_path, data: { testid: "back-to-recipes-link" } %>
    <%= button_to "Destroy this recipe", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?", testid: "delete-recipe-button" } %>
  </div>
</div>
